/* global styles */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #000;
  background-color: #282828;
}

.container {
  width: 94%;
  margin: auto;
}

li {
  list-style: none;
  cursor: pointer;
}

/* flex in flex-column direction */
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* flex in row direction */
.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* navbar */
header {
  background-color: #212121;
}

.nav {
  padding: 5px 0;
  justify-content: space-between;
  color: #fff;
}

/* nav left */

/* hamburger menu */
.hamburger {
  width: 30px;
  padding: 5px;
  background-color: #212121;
  height: 30px;
  border-radius: 50%;
}

.hamburger:hover {
  background-color: #3c3c3c;
  transition: 0.4s;
}

/* hamburger button */
.menu {
  width: 18px;
  background-color: #fff;
  height: 1px;
  margin: 3px;
}

.img-youtube {
  width: 40px;
  height: 20px;
  padding-left: 18px;
}

/* nav middle */
.nav-middle > ul {
  height: 40px;
}

.nav-middle li {
  height: 100%;
}

.search-box {
  padding: 8px 7px;
  width: 400px;
  height: 100%;
  background-color: rgb(15, 15, 15);
  color: #909090;
  border: 1px solid #3c3c3c;
  border-radius: 2px 0 0 2px;
  font-size: 1.05em;
  box-sizing: border-box;
}

.search-box:focus {
  outline: none !important;
  border-color: #719ece;
  box-shadow: 0 0 3px #719ece;
}

.search-icon {
  background-color: #3c3c3c;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  width: 60px;
  height: 100%;
}

.voice-icon {
  background-color: rgb(15, 15, 15);
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: 100%;
  box-sizing: border-box;
  margin-left: 10px;
}

/* nav right */
.nav-right li {
  padding-right: 30px;
}

.user-img {
  width: 30px;
  height: 100%;
  border-radius: 50%;
  border: none;
}

.user-img img {
  width: 100%;
  border-radius: inherit;
}

#showcase {
  display: grid;
  grid-template-columns: 63% 35%;
  margin-top: 25px;
}

#player {
  width: 100%;
  color: #fff;
}

#player iframe {
  width: 100%;
}

#vid-title {
  margin: 7px 0;
}

#views {
  font-size: 14px;
  color: #ccc;
  margin: 13px 0;
}

hr {
  background-color: #3c3c3c;
  height: 1px;
  border: none;
  margin: 15px 0;
}

#thumbs {
  display: flex;
  gap: 0 20px;
  font-size: 14px;
}

#thumbs li span {
  padding-left: 10px;
}
