* {
    margin: 0;
    padding: 0;
}

#small-device {
    display: none
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    background-color: #282828;
}

.container {
    width: 94%;
    margin: auto;
}

nav {
    background-color: #212121;
    padding: 8px 20px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

#nav-left, #nav-middle, #nav-right {
    display: flex;
    align-items: center;
}

#nav-left img {
    width: 40px;
    height: 20px;
    padding-left: 18px;
}

.hamburger {
    left: 10px;
    top: 10px;
    width: 35px; 
    background-color: #212121;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hamburger:hover {
    background-color: #3c3c3c;
    transition: 0.4s;
}
.top, 
.middle,
.bottom {
    position: absolute;
    width: 18px;
    background-color: #fff;
    height: 1px;
}

.top {
    transform: translateY(6px)
}

.bottom {
    transform: translateY(-6px)
}

#search-box {
    padding: 8px 7px;
    width: 80%;
    background-color: rgb(15, 15, 15);
    color: #909090;
    border: 1px solid #3c3c3c;
    border-radius: 2px 0 0 2px;
    font-size: 1.05em;
}

#search-icon {
    background-color: #3c3c3c;
    width: 10%;
    height: 100%;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#voice-icon {
    background-color: rgb(15, 15, 15);
    width: 38px;
    height: 100%;
    border-radius: 50%;
    border: none;
    margin-left: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-icon i, 
#voice-icon i,
#nav-right i {
    color: #fff;
}

#nav-right i:hover,
#voice-icon i:hover,
#search-icon i:hover {
    opacity: 0.7;
    transition: 0.5s;
}
#nav-right i:hover,
#nav-right img:hover  {
    cursor: pointer;
}

#nav-right {
    justify-self: end;
    margin-right: 10px;
}

#nav-right i {
    font-size: 20px;
    padding-right: 30px;
}

#nav-right div {
    width: 30px;
    height: 100%;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-right img {
    width: 100%;
    border-radius: inherit;
}

#showcase {
    display: grid;
    grid-template-columns: 63% 35%;
    margin-top: 25px;
}

#player {
    width: 100%;
    color: #fff;
}

#player iframe{
    width: 100%;
}

#vid-title {
    margin: 7px 0;
}

#views {
    font-size: 14px;
    color: #ccc;
    margin: 13px 0;
}

hr {
    background-color: #3c3c3c;
    height: 1px;
    border: none;
}

#thumbs-wrap {
    display: grid;
    grid-template-columns: 30% 70%;
}

#thumbs {
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-self: end;
}

#thumbs div {
    margin: 0 10px;
}

#thumbs div:hover {
    cursor: pointer;
}

#thumbs div i {
    padding: 0 5px;
}

#thumbs div i:last-child {
    font-size: 16px;
}

#side-bar {
    margin-left: 23px;
}

#side-btn {
    margin-bottom: 20px;
}

#side-btn button{
    padding: 7px 13px;
    border-radius: 50px;
    border: 0.007em solid #909090;
    background-color: #3c3c3c;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

#side-btn #btn-1 {
    background-color: #fff;
    color: #000;
}

.video-list {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-gap: 7px;
    margin-bottom: 7px;
}

.video-list img {
    width: 100%;
    height: 100px;
}

.video-list h4 {
    color: #fff;
    margin-bottom: 10px;
}

.video-list p {
    font-size: 13px;
    color: #ccc;
    margin-bottom: 5px;
}

@media(max-width: 868px) {
    #container-fluid {
        display: none;
    }

    #small-device {
        display: block;
        top: 30%;
        margin: auto;
        text-align: center;
        width: 70%;
        color: #ccc;
        margin-top: 30%;
    }

    #small-device i {
        font-size: 90px;
    }

    #small-device p {
        font-size: 20px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        margin: 30px 0;
    }

    #learn-more {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #small-device a i {
        font-size: 18px;
    }

    a {
        color:#909090;
    }
}